.allfilter-container{
   
    /* height: 560px; */
 height: 60vh;
 min-height: 500px;
    display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}

.allfilter-container2{
   
    height: 22%;
  width: 100%;
  text-align: center; 
  position: absolute;
 
  z-index: 2; 
}

.allfilter-inside-container{
   
    width: 82%;
    /* height:15%; */
    margin: auto;
}

.allfilter-row{
    height: 100%;
    width: 100%;
    display: flex;
    /* border: 2px solid blue; */
 
}
.filter-col{
    width: 20%;
    text-align: center;
    /* border: 2px solid green; */
}
.filter-col2{
    width: 20%;
    text-align: center;
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center;
    background-color: orange;
}

.filter-button{
    width: 100%;
    cursor: pointer;
    display: flex; /* Use Flexbox */
  align-items: center; /* Vertically center items */
  justify-content: center;
  color: white !important;
  font-size: medium;
}
.heading1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2px;
}
.heading2{
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
}

.css-wmy1p7-ReactDropdownSelect{
    min-height: 38px !important;
}

@media (max-width: 1390px) {
    .css-jznujr-ContentComponent {
        font-size: small;
    }
    }
    

@media (max-width: 1090px) {
.css-wmy1p7-ReactDropdownSelect  {
    box-sizing: border-box;
    font-size: smaller !important;
}
}

@media (max-width: 890px) {
    .allfilter-inside-container .allfilter-row {
      flex-direction: column;
    }
  
    .allfilter-inside-container .filter-col,
    .allfilter-inside-container .filter-col2 {
      width: 100%;
      
    }
  
    .allfilter-inside-container .filter-button {
      width: 100%;
      text-align: center;
    }
    .allfilter-container{
        height: 80vh;
    }
    .filter-button {
        height: 31px;
    }
    .filter-col2{
        margin-left: 1px;
    }
   
  }

  @media (max-width: 580px)  {
    .allfilter-container2 {
        
        height: 45%;
    }
    .heading1{
        font-size: 30px;
    }
    .heading2{
        font-size: 20px;
    }
  }