.allfilter-container{
   
    /* height: 560px; */
 height: 60vh;
    display: flex;
justify-content: center;
align-items: center;

}

.allfilter-container2{
   
    height: 22%;
  width: 100%;
  text-align: center; 
  position: absolute;
  
  z-index: 2; 
}

.allfilter-inside-container{
   
    width: 80%;
    /* height:15%; */
    margin: auto;
}

.allfilter-row{
    height: 100%;
    width: 100%;
    display: flex;
 
}
.filter-col{
    width: 100%;
    text-align: center;
 
}
.filter-col2{
    width: 100%;
    text-align: center;
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center;
    background-color: orange;
}

.filter-button{
    cursor: pointer;
    display: flex; /* Use Flexbox */
  align-items: center; /* Vertically center items */
  justify-content: center;
  color: white !important;
}