.nav-container2{
    height: 6vh;
    min-height: 64px;
}

.belowbar-row{
width: 100%;
padding: 13px;
}

.belowbar-col{
    
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: grey;
    text-transform: uppercase;
    font-weight: 500;
}

@media (max-width: 580px)  {
    .belowbar-col {
        font-size: 13px;
}
}
@media (max-width: 400px)  {
    .belowbar-col {
        font-size: 10px;
}
}