.nav-container{
    border-bottom: 1px solid rgba(100, 100, 111, 0.2);
    height: 15vh;
    min-height: 130px;
}

.nav-row{
    display: flex;
   
padding: 10px;

  
}

.nav-col1 {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-col2{
    width: 57%;
}

.nav-col3{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.admin-btn{
   cursor: pointer;
   height: 3rem;
    width: 121px;
   text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.home{
    text-decoration: none;
}
.lottie-logo{
    justify-content: space-evenly;
}
@media (max-width: 890px) {
    .nav-col3 .admin{
      font-size: 12px;
      
    }
    .nav-col3{
        width: 45%;
    }
  
  
}
