/* .people .css-1jqq78o-placeholder{
    line-height: inherit!important;
    border: none!important;
    margin-left: -36px!important;
    background: transparent!important;
    padding: 0!important;
    width: calc(24ch + 10px)!important;
    font-size: smaller!important;
} */
.css-9ma7ck-OptionComponent {
    color: black !important;
      /* background: rgba(128, 128, 128, 0.781) !important; */
      background-color: transparent !important;
      border-radius: 12px !important;
  }
  .css-hr679g-InputComponent {
    
    font-size: small !important;
    color: black !important;
  }