

.react-dropdown-select {
    /* min-height: 60px !important; */
    width: 100%!important;
    background-color: white !important;
}

.css-1xmdsdm-ItemComponent ins {
   
    display: none;
}

.css-1xmdsdm-ItemComponent {
   
    color: black !important;
    float: left;
    display: flex;
}

.css-z2hyoe-ItemComponent.react-dropdown-select-item-selected {
    background: rgba(128, 128, 128, 0.781) !important;
   
}

.css-9ma7ck-OptionComponent {
  color: black !important;
    /* background: rgba(128, 128, 128, 0.781) !important; */
    background-color: transparent !important;
    border-radius: 12px !important;
}
.css-jznujr-ContentComponent {
  
    justify-content: center !important;
}


@media (max-width: 1390px) {
    .css-1xmdsdm-ItemComponent ins {
        font-size: small;
    }
    }