
.popup{
   border: 2px solid green;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color: rgba(0, 0, 0, 0.336);
    z-index: 3;
}

.popup-container {
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
    padding: 20px; /* Add padding for spacing */
    height: 55%;
    width: 25%;
    background-color: #C8C8C8;

  }

  .below-heading{
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center;
  }
  
  .popup-form {
   height: 100%;
   width: 100%;
  }
  .popup-form .form-group {
    
    margin-bottom: 14px; /* Add bottom margin to create gap between each Form.Group */
    width: 100%;
    
  }
  
  .range{
    display: flex;
    justify-content: space-between;
  }

  .form-control-range{
    width: 90%;
    justify-content: space-between;
  }
 .form-control{
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    width: 100%;
    height: 3rem;
    font-size: larger;
 }
 .PhoneInput 
 {
    justify-content: space-between;
 }
 

 .PhoneInputInput{
    height: 2.8rem;
    font-size: large;
    border-radius: 3px;
    border: none;
    margin-right: -5px;
    margin-left: 10px;
 }
 .PhoneInputCountry{
    height: 3rem;
    background-color: white;
 }

 .react-date-picker{
    height: 3.3rem;
    float: right;
    background-color: white;
    border: none;
    margin-right: -5px;
}

.popup-btn{
   cursor: pointer;
   
    height: 3rem;
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center;
    color: white;
    background-color: orange;
}
.close-button {
    width: 25%;
   display: block;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.close-button span {
    font-size: 41px; /* Increase the font size of the "x" */
}
.form-control.is-invalid {
    border: 1px solid #dc3545; /* Bootstrap's danger color */
    box-shadow: none; /* Remove custom box-shadow */
}

.form-control.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Bootstrap's danger box shadow */
}

.PhoneInputInput.is-invalid {
    border-color: #dc3545 !important; /* Bootstrap's danger color */
  }
  
  .PhoneInputInput.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Bootstrap's danger box shadow */
  }