.login-box{
   
    height: 65vh;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.login-btn{
    cursor: pointer;
    border: 1px solid;
    height: 3rem;
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center;
    color: white;
    background-color: orange;
}
.loading{
    z-index: 2;
    height: 60vh;
   /* background-image: url("../Images/blur.avif");
   filter: blur(2px) brightness(80%); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lottie-loading{
    z-index: 3;
        height: 65%;
      
}